.search-input {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 1.5rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
}

@media (min-width: 768px) {
  .search-input {
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
